#home-hero {
    background: url('/img/home-hero.jpg') 70% 0 no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
}

.home-hero-text {
    color: #f7eeed;
    font-family: 'Source Sans Pro Black', sans-serif;
    text-align: center; 
}

.home-hero-action-text {
    font-size: 45px;
    line-height: 65px; 
    margin-bottom: 25px;
}

.home-hero-support-text {
    font-size: 22px;
    margin-bottom: 65px;
    margin-top: 16px;
}

.round-corner {
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

#submit-button {
    text-transform: none;
}

#submit-button-parent {
    float: right;
}

#username-input {
    margin-bottom: 0px;
    text-transform: lowercase;
}

#username-input:focus {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

#username-input:focus + label {
    color: black
}

#username-input-icon {
    color: black;
}

#username-input-parent {
    margin-bottom: 0px;
}
