html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: LeagueSpartan-Bold;
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-device-width: 480px) {
    #profile-picture-cell {
        width: 50%;
    }
}

@media screen and (min-device-width: 481px) {
    #profile-picture-cell {
        width: 1%;
    }

    #following-cell-count-paragraph {
        padding-right: 20%;
    }

    #following-cell-subtext-paragraph {
        padding-right: 20%;
    }

    #followers-cell-count-paragraph {
        padding-left: 20%;
    }

    #followers-cell-subtext-paragraph {
        padding-left: 20%;
    }
}

#home-hero {
    background: url('/img/home-hero.jpg') 70% 0 no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
}

.home-hero-text {
    color: #f7eeed;
    font-family: 'Source Sans Pro Black', sans-serif;
    text-align: center; 
}

.home-hero-action-text {
    font-size: 45px;
    line-height: 65px; 
    margin-bottom: 25px;
}

.home-hero-support-text {
    font-size: 22px;
    margin-bottom: 65px;
    margin-top: 16px;
}

#loading-animation {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #595959;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.7s linear infinite;
    margin: 0 auto;
}

.profile-header-cell {
    text-align: center;
}

#profile-picture {
    width: 100px;
    height: 100px;
}

.round-corner {
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

.round-full {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#submit-button {
    text-transform: none;
}

#submit-button-parent {
    float: right;
}

.brand-logo {
    color: #4b20a8 !important;
    font-family: LeagueSpartan-Bold !important;
    margin-left: 5px !important;
    padding-top: 4px !important;
    font-size: 26px !important;
}

#username-input {
    margin-bottom: 0px;
    text-transform: lowercase;
}

#username-input:focus {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

#username-input:focus + label {
    color: black
}

#username-input-icon {
    color: black;
}

#username-input-parent {
    margin-bottom: 0px;
}
