<div class="container">
    <div class="row">
        <div id="contact-container">
            <div class="contact-child-header">
                <h3 id="contact-hero-text">Contact Us</h3>
            </div>
            <div class="contact-child-subtext">
                <p id="contact-child-subtext-main">Straws was created because you deserve to know who's not following you back on Instagram. Is something not working? Do you have a feature request? Let's hear from you.</p>
                <p><i class="fa fa-phone fa-lg"></i> <a class="contact-info-action" href="tel:773-466-2836">(773) 466-2836</a></p>
                <p><i class="fa fa-envelope fa-lg"></i> <a class="contact-info-action" href="mailto:talk@strawsapp.com">talk@strawsapp.com</a></p>
            </div>
        </div>
    </div>
</div>