<div class="container">
    <div class="row">
        <div id="contact-container">
            <h3 id="contact-hero-text">Contact Us</h3>
            <p>Straws was created because you deserve to know who's not following you back on Instagram. Is something not working? Do you have a feature request? Let's hear from you.</p>
            <p><i class="fa fa-phone"></i> (773) 466 - 2836</p>
            <p><i class="fa fa-envelope"></i> talk@strawsapp.com</p>
        </div>
    </div>
</div>