<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="col s10 offset-s1">
                <h4 style="font-family: 'Shadows Into Light Two', cursive; text-align: center">Who's not following you back?</h4>
                <h4 style="font-family: 'Shadows Into Light Two', cursive; text-align: center">We know.</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <form action="/api/nonfollower" class="col s10">
            <div class="input-field col s9">
                {{!-- <i class="material-icons prefix" style="color: black">person_outline</i> --}}
                <input type="text" placeholder="@therock" name="username" id="username-input">
                <label for="username-input">Instagram Handle</label>
            </div>
            <div class="input-field col s1">
                <button class="btn waves-effect waves-light grey darken-4" style="text-transform: none" type="submit" name="action">Submit
                </button>
            </div>
        </form>
    </div>
</div>