<div class="container" id="home-hero">
    <div class="row" id="hero-row">
        <div class="col s12">
            <div class="col s10 offset-s1">
                <p class="home-hero-text home-hero-action-text"><b>You're being unfollowed</b></p>
                <p class="home-hero-text home-hero-support-text"><b>Discover who you're losing, take action, and sleep in peace.</b></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row" id="input-row">
        <div class="col s12">
            <div class="input-field" id="username-input-parent">
                <i class="material-icons prefix" id="username-input-icon">person_outline</i>
                <input type="text" placeholder="@jenniferaniston" name="username" id="username-input">
                <label for="username-input">Instagram Handle</label>
            </div>
            <div class="input-field" id="submit-button-parent">
                <button class="btn waves-effect waves-light grey darken-4" id="submit-button" type="submit" name="action">
                    Submit
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table>
                <tr>
                    <td><img style="border-radius: 50%; max-width: 30%; height: auto;" src="https://instagram.fewr1-5.fna.fbcdn.net/vp/d03f49daf488387f6de75334a56695a4/5E60760D/t51.2885-19/s150x150/57000893_311358389533181_9198417752879005696_n.jpg?_nc_ht=instagram.fewr1-5.fna.fbcdn.net" alt=""></td>
                    <td>lookintochicago</td>
                </tr>
            </table>
        </div>
    </div>
</div>