<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <!-- LEFT NAVBAR ~Hamburger Menu~ -->
            <a href="#" data-target="main-menu" class="button-collapse sidenav-trigger show-on-large">
                <i class="fa fa-bars fa-2x"></i>
            </a>

            <!-- CENTER NAVBAR -->
            <a href="/" class="brand-logo" style="margin-left: 10px">Straws</a>

            <!-- RIGHT NAVBAR -->
            <ul class="right hide-on-small-only">
                <li><a href="/contact"><i class="fa fa-envelope fa-2x"></i></a></li>
            </ul>

            <!-- Hamburger Menu Defintiion-->
            <ul class="sidenav" id="main-menu">
                <li><h5 style="color: black; text-align: center">Straws</h5></li>
                <li class="divider"></li>
                <li><a href="/"><i class="fa fa-home fa-lg" style="margin-right: 0px"></i> Home</a></li>
                <li><a href="/contact"><i class="fa fa-address-book fa-lg" style="margin-right: 0px"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</nav>