<nav class="white">
    <div class="container">
        <div class="nav-wrapper">
            <!-- LEFT NAVBAR ~Hamburger Menu~ -->
            <a href="#" data-target="main-menu" class="button-collapse sidenav-trigger show-on-large" style="color: black">
                <i class="fa fa-bars fa-2x" style="color: #282929"></i>
            </a>

            <!-- CENTER NAVBAR -->
            <a href="/" class="brand-logo">Straws</a>

            <!-- RIGHT NAVBAR -->
            <ul class="right hide-on-small-only">
                <li><a href="/contact"><i class="fa fa-envelope fa-2x" style="color: #282929"></i></a></li>
            </ul>

            <!-- Hamburger Menu Defintion-->
            <ul class="sidenav" id="main-menu">
                <li><h5 style="color: #4b20a8; text-align: center; font-family: LeagueSpartan-Bold">Straws</h5></li>
                <li class="divider"></li>
                <li><a href="/" class="hamburger-entry"><i class="fa fa-home fa-lg" style="margin-right: 0px"></i> <b>Home</b></a></li>
                <li><a href="/contact" class="hamburger-entry"><i class="fa fa-address-book fa-lg" style="margin-right: 0px"></i> <b>Contact</b></a></li>
            </ul>
        </div>
    </div>
</nav>