<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">

    <title>Straws</title>
</head>
<body>
    <header style="position: relative">
        {{>_header}}
    </header>
    <main>
        {{{body}}}
    </main>

    <script src="/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="/vendors/materialize/js/materialize.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.sidenav').sidenav();
        });
    </script>
    <script src="/vendors/axios/axios.min.js"></script>
    <script src="/js/state.js"></script>
    <script src="/js/helper.js"></script>
    <script>
        const isMobileClient = Helper.isMobileClient();
        State.update('isMobileClient', isMobileClient);
    </script>
    <script src="/js/element.js"></script>
    <script src="/js/responses.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>